
<!-- share button-->
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- hash button-->
<a href="https://twitter.com/intent/tweet?button_hashtag=Merlin&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #Merlin</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 <!-- facebook button-->            
<div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
  <div class="fb-share-button" data-href="https://merlindemo.merlintickets.co.uk/product/DANCE-CLASS" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
             